body {
  font-family: "Arial", sans-serif;
}

.page-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  page-break-after: always;
  width: 921px;
}

.page-wrapper h1 {
  text-align: center;
}

.board-grid {
  margin: 24px 0;
  display: grid;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  height: 920px;
  width: 100%;
  page-break-inside: avoid;
  font-size: 20px;
}

.board-item.free-space {
  flex-direction: column;
  gap: 10px;
}

.board-item.free-space div:first-child {
  font-weight: 1000;
  font-size: 24px;
}

.board-grid .board-item {
  border-top: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 12px;
  overflow: hidden;
}

.board-grid .board-item span {
  display: block;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: calc(18px - 0.5vw);
}
